

<h2 class="col-md-offset-3 col-md-6 mx-auto">Answer for task: @ViewBag.taskName</h2>
<h6 class="col-md-offset-3 col-md-6 mx-auto">Student: @ViewBag.student</h6>
<h6 class="col-md-offset-3 col-md-6 mx-auto">Program language: @ViewBag.language</h6>
<h6 class="col-md-offset-3 col-md-6 mx-auto">Group: @ViewBag.group</h6>



    <div class="form-group">
        <label for="answer">Answer</label>
        <textarea name="answer" class="form-control">@ViewBag.answContent</textarea>
    </div>

    